.navbar {
      align-items: center;
      display: block;

      .navbar-ul {
        .current {
          font-weight: bold;
        }
        .link {
          margin: 0;
          padding: 0;
          text-decoration: none;
          display: flex;
          cursor: pointer;

          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}
