:root {
  --primary-color: rgb(7, 7, 201);
  --secondary-color: rgb(4, 4, 41);
}
body {
  font-family: "poppins sans-serif";
  margin: 0;
  padding-left: 0;
}

header {
  padding-top: 0.5em;
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5em;
    .logo {
      font-weight: bold;
      color: black;
      text-decoration: none;
      font-size: 1.3em;
      span {
        color: var(--primary-color);
      }
    }
    .hero-ul {
      border: 1px solid var(--primary-color);
      border-radius: 45em;
      padding: 0.5em 1.3em;
      background-color: var(--primary-color);

      .hero-link {
        list-style-type: none;
        .hero-ref {
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 0.8em;
          color: white;
        }
      }
    }
  }
}
.sec {
  background-color: #42414188;
  padding: 0.1em 0 0.1em 0;

  .sec-p {
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
  }
}
.head {
  padding: 1em 0.5em 1em 0;
  background: white;
  .container {
    .mobile-menu {
      display: none;
    }
    .navbar {
      .navbar-ul {
        display: flex;
        gap: 3em;
        margin: auto;
        justify-content: center;
        .current {
          font-weight: bold;
        }
        .link {
          list-style-type: none;
          .ref {
            text-decoration: none;
            font-size: 1.6em;
            &:hover {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.section-1 {
  background-color: #f3ecec88;
  padding-top: 2em;
  text-align: center;
  .coach {
    text-align: center;
    line-height: 2em;
    text-size-adjust: 2em;
    padding-top: 1em;
  }
  .p-coach {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
  }
  .img-1 {
    width: 40%;
    height: 100%;
    justify-content: center;
    margin: auto;
    &:hover {
      transform: translateY(-10px);
    }
  }
  .para {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
  }
  .aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    .aboutme-button {
      background-color: var(--secondary-color);
      color: white;
      text-decoration: none;
      border-radius: 45em;
      font-size: 1em;
      padding: 0.6em 1.3em;
      margin-bottom: 2em;
    }
  }
}

.section-2 {
  line-height: 2em;
  background-color: #f2f2f2;
  text-align: left;
  padding: 0 3em 0 3em;
  .section-2-h3 {
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 1em;
  }
  .section-2-p {
    font-size: 2em;
    line-height: 1.5em;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5em;
  }
}
.section-3 {
  background-color: rgb(248, 240, 240);
  padding-bottom: 1em;
  text-align: center;

  .testimonials {
    padding: 1em 0 0 0;
  }
  .success {
    font-size: 50px;
  }
  .quote {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20em;
    text-align: left;
    padding-left: 5em;
    max-width: 1250px;
    .quote-desc {
      font-size: 1em;
      line-height: 1.5em;
    }
  }
}

.section-4 {
  background-color: var(--secondary-color);
  padding-bottom: 2em;
  margin-bottom: 1em;
  text-align: center;

  .phylosophy {
    padding-top: 1em;
    color: white;
  }
  .phil-test {
    font-size: 2.5em;
    color: white;
    line-height: 1.2em;
  }
  .talk-button {
    background-color: var(--secondary-color);
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-radius: 45em;
    font-size: 16px;
    padding: 0.6em 1.3em;
  }
}
.footer {
  background-color: #8f8c8c88;
  color: black;
  text-align: center;
  .author {
    padding-top: 1.2em;
  }

  .icon {
    .icon-card {
      display: flex;
      gap: 2em;
      margin: auto;
      justify-content: center;
      list-style-type: none;
      .icon-card-list {
        position: relative;
        &:hover {
          transform: translateY(-10px);
        }
      }
    }
  }
  .copyright {
    .copy {
      color: var(--primary-color);
    }
  }
}
/*aboutme.html page*/
.abt-section-1 {
  background-color: #f3ecec88;
  padding-bottom: 2em;
  padding-top: 2em;
  text-align: center;
  .abt-me {
    line-height: 2em;
    text-size-adjust: 2em;
    padding: 1em 0 2em 0;
  }
  .desc {
    font-size: 3em;
    max-width: 550px;
    text-align: center;
    margin: auto;
    padding-bottom: 1em;
  }
  .abt-img-1 {
    width: 40%;
    height: 80%;
    padding-left: 2em;
    &:hover {
      transform: translateY(-10px);
    }
  }
}
.abt-section-2 {
  max-width: 550px;
  text-align: center;
  margin: auto;
  .abt-coach {
    font-weight: bold;
    font-size: 2.5em;
  }
  .abt-coach-1 {
    padding-bottom: 0.1em;
    line-height: 2em;
  }
  .experience {
    font-size: 3em;
    font-weight: bold;
  }
  .experience-1 {
    line-height: 2em;
  }
}
.abt-section-3 {
  background-color: var(--secondary-color);
  padding-bottom: 2em;
  margin-bottom: 1em;
  text-align: center;

  .phylosophy {
    padding-top: 1em;
    color: white;
  }
  .phil-test {
    font-size: 2.5em;
    color: white;
    line-height: 1.2em;
  }
  .talk-button {
    background-color: var(--secondary-color);
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-radius: 45em;
    font-size: 16px;
    padding: 0.6em 1.3em;
  }
}
/*pricing.html page*/
.pricing-section-1 {
  padding: 2em 0 2em 4em;
  .pricing {
    font-size: 3em;
    margin-bottom: 2em;
    text-align: left;
  }
  .packages {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5em;
    padding-right: 2em;
    .consult {
      font-size: 1em;
      margin-bottom: 2em;
    }
    .explicit {
      font-size: 1em;
      margin-bottom: 2em;
    }
  }
}
.pricing-section-2 {
  background-color: var(--secondary-color);
  padding-bottom: 2em;
  text-align: center;

  .phylosophy {
    padding-top: 1em;
    color: white;
  }
  .phil-test {
    font-size: 2.5em;
    color: white;
    line-height: 1.2em;
  }
  .talk-button {
    background-color: var(--secondary-color);
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-radius: 45em;
    font-size: 16px;
    padding: 0.6em 1.3em;
  }
}
/*contact.html page*/
.contact-section {
  padding: 2em 0 0 4em;
  background-color: rgb(241, 236, 236);
  .contact-div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10em;
    .contact {
      font-size: 3em;
    }
    .cont {
      font-size: 1em;
      line-height: 1.5em;
    }
    form {
      width: 100%;
      padding-bottom: 1.2em;

      input[type="text"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid rgb(241, 236, 236);
        box-sizing: border-box;
        border-radius: 1em;
      }
      textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 0.5em 0 2em;
        box-sizing: border-box;
        border-radius: 1em;
      }
    }
    .contact-button {
      background-color: var(--secondary-color);
      color: white;
      text-decoration: none;
      border-radius: 45em;
      font-size: 16px;
      padding: 0.6em 2em;
    }
    .contact-img-1 {
      width: 50%;
      height: auto;
      padding-top: 2em;
      display: block;
      margin: auto;
    }
  }
}

@media only screen and (max-width: 670px) {
  .head {
    padding: 1em 0.5em 1em 0;
    background: white;
    .container {
      .mobile-menu {
        display: flex;
        margin-left: auto;
        cursor: pointer;
      }
    }
  }
  .navbar {
    display: none;
  }

  .section-2 {
    line-height: 2em;
    background-color: unset;
    padding: 0.5em 0 2em 1em;
    text-align: left;
    .grid {
      display: inline;
      .hero-grid {
        .section-2-h3 {
          font-weight: bold;
          font-size: 1.3em;
          padding-top: 1em;
        }
      }
      .section-2-p {
        font-size: 1.4em;
      }
    }
  }

  .section-3 {
    text-align: left;
    padding: 0.5em 0 2em 1em;
    background-color: #f2f2f2;
    .testimonials {
      padding: 1em 0 0 0;
    }
    .success {
      font-size: 50px;
    }
    .quote {
      padding: 0;
      display: block;
      .quote-desc {
        .quote-p {
          text-align: left;
        }
      }
    }
  }

  .section-4 {
    padding-bottom: 2em;
    text-align: center;
    .phylosophy {
      padding-top: 1em;
      color: white;
    }
    .phil-test {
      font-size: 2.5em;
      color: white;
      line-height: 1.2em;
    }
    .talk-button {
      background-color: var(--secondary-color);
      border: 1px solid white;
      color: white;
      text-decoration: none;
      border-radius: 45em;
      font-size: 16px;
      padding: 0.6em 1.3em;
    }
  }
  .footer {
    background-color: unset;
    color: black;
    text-align: left;
    padding-left: 0.5em;
    .author {
      padding-top: 1em;
    }
    .icon {
      .icon-card {
        .icon-card-list {
          position: relative;
        }
      }
    }
    .copyright {
      text-align: left;
      .copy {
        color: var(--primary-color)
      }
    }
  }
  /*pricing.html page*/
  .pricing-section-1 {
    padding: 1em 0 1em 0.5em;
    .pricing {
      font-size: 3em;
      text-align: left;
    }
    .packages {
      display: block;
      .consult {
        font-size: 1em;
      }
      .explicit {
        font-size: 1em;
      }
    }
  }
  /*contact.html page*/
  .contact-section {
    padding: 0 0 2em 0.3em;
    .contact-div {
      display: block;
    }
    .contact {
      font-size: 3em;
    }
    .cont {
      font-size: 1em;
      line-height: 1.5em;
    }
    form {
      padding-bottom: 1.2em;
      box-sizing: border-box;
      width: auto;

      input[type="text"] {
        width: 10%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid black;
        box-sizing: border-box;
        border-radius: 1em;
      }
      textarea {
        width: 10%;
        padding: 12px 20px;
        margin: 0.5em 0 2em;
        box-sizing: border-box;
        border-radius: 1em;
      }
    }
    .contact-button {
      background-color: var(--secondary-color);
      color: white;
      text-decoration: none;
      border-radius: 45em;
      font-size: 16px;
      padding: 0.6em 2em;
    }
    .contact-img-1 {
      width: 80%;
      height: auto;
    }
  }
  /*end of contact page*/
  .head {
    .container {
      .navbar.menu-btn {
        display: block;
        position: fixed;
        z-index: 999;
        right: 0;
        top: 0;
        background-color: black;
        height: 100vh;

        .navbar-ul {
          display: block;
          padding: 1.5em;
          margin-top: 2em;

          .link {
            list-style-type: none;

            .ref {
              text-decoration: none;
              color: white;
              display: block;
              padding: 0.5em 0 0.5em 0;
              font-size: 1.3em;
              text-align: right;

              &:hover {
                font-weight: bold;
              }
            }
          }
        }
      }
      .mobile-menu-exit {
        float: right;
        cursor: pointer;
        margin: 0.5em;
      }
    }
  }
}
